.medal-add-container{
    display:flex;
    flex-direction: column;
    margin:10px;

    .medal-add-s{
        height: 30px;
        width:auto;
        margin-right:5px;
    }

    .medal-add-m{
        height: 50px;
        width:auto;
        margin-right:5px;
    }

    .medal-add-l{
        height: 80px;
        width:auto;
        margin-right:5px;
    }

    .medal-add-name{
        font-size: 10px;
        width:40px;
        text-align: center;
    }

    .medal-info-s{
        .medal-name{
            font-size: 10px;
        }

        .medal-number{
            font-size: 16px;
        }
    }

    
    .medal-info-m{
        .medal-name{
            font-size: 14px;
        }

        .medal-number{
            font-size: 16px;
        }
    }

    
    .medal-info-l{
        .medal-name{
            font-size: 16px;
        }

        .medal-number{
            font-size: 16px;
        }
    }
}