
@import '../../pages/styles/BaseDefinitions';

#contact-card-item{
    width:250px;
    max-width: 350px;
    background-color:$color-middle;
    color: $color-dark;
    border-radius: 25px;
    font-family: $title-font;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    margin-top:15px;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);

    .contact-user-name{
        font-weight: 600;
        width:80%;
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
        padding:20px 0;
        margin-bottom:20px;

    }

    .contact-user-mail{
        color:$color-dark;
        margin-bottom: 10px;
        width:100%;
    }

    .contact-user-phone{
        color:$color-dark;
        margin-bottom: 30px;
        width:100%;
    }

    .icon-contact-card{
        color:$color-dark;
        margin-right:10px;
    }

    .delete-contact-button{
        display:flex;
        flex-direction:column;
        align-items:center;
        font-size:12px;
        margin-bottom:25px;

        .icon-contact-trash{
            width:20px;
            height:20px;
            padding:10px;
            border-radius:80px;
            border-style:solid;
            border-color:$color-dark;
            border-width: 1px;
        }
    }
}

@media (min-width:800px){  
    #contact-card-item{
       
        margin:20px;
        box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);
    }

}


// .talent-resume{
//     width:90%;
//     max-width: 350px;
//     background-color:$color-dark;
//     color: $color-light;
//     border-radius: 25px;
//     font-family: $title-font;
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top:15px;
//     box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);

//     .talent-img{
//         width:100%;
//         height: auto;
//         border-top-right-radius: 25px;
//         border-top-left-radius: 25px;
//     }

//     .talent-name{
//         width:80%;
//         text-align: left;
//         margin: 10px 0;
//         font-size: 16px;
//     }

    

//     .talent-reviews-price-div{
//         width:80%;
//         display:flex;
//         justify-content: space-between;
    
//         .talent-reviews{
//             font-size:12px;

//             .star{
//                 width:20px;
//                 height: auto;
//             }
//         }

//         .talent-price{
//             color:$color-yellow;
//         }
//     }

//     .tags-title{
//         font-size: 12px;
//         font-family: $text-font;
//         margin-top:20px;
//     }

//     .talent-tags-div{
//         display:flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         width:90%;
//         margin-bottom:15px;

//         .tag{
//             font-family: $text-font;
//             font-size: 12px;
//             background-color: $color-middle;
//             color: $color-dark;
//             padding:5px 15px;
//             border-radius: 20px;
//             margin:3px;

//         }
//     }
// }

// .talent-search{
//     width:90%;
//     max-width: 350px;
//     background-color:$color-dark;
//     color: $color-light;
//     border-radius: 25px;
//     font-family: $title-font;
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top:15px;
//     box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);

//     .talent-img{
//         width:100%;
//         height: auto;
//         border-top-right-radius: 25px;
//         border-top-left-radius: 25px;
//     }

//     .talent-name{
//         width:90%;
//         text-align: left;
//         margin: 10px 0;
//         font-size: 16px;
//     }

//     .talent-teacher{
//         width:90%;
//         text-align:left;
//         margin:5px 0;
//         color:$color-middle;
//     }

    

//     .talent-reviews-price-div{
//         width:90%;
//         display:flex;
//         justify-content: space-between;
//         margin-top:20px;
//         margin-bottom: 10px;
    
//         .talent-reviews{
//             font-size:12px;

//             .star{
//                 width:25px;
//                 height: auto;
//             }
//         }

//         .talent-price{
//             color:$color-yellow;
//             font-size:20px;
//         }
//     }

    
// }