@import './BaseDefinitions';

#talent-page-request-edit{
    // background-color:$color-light;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    width:100%;
    // border-bottom-style: solid;
    // border-bottom-width: 0.25px;
    background-color:#efefef;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.15);

    #talent-name-request-edit{
        // width:90%;
        // align-self: center;

        #talent-name-h1-request-edit{
            text-align:left;
            font-family: $title-font;
            color:$color-dark;
            margin-bottom:15px;
            padding:0 20px;
        }
    }
    

    #talent-text-request-edit{
        text-align: left;
        padding:0 20px;
        display:flex;
        flex-direction: column;
        font-family: $text-font;
        color:$color-middle-dark;

        #talent-info-request-edit{
            

            #teacher-name-request-edit{
                margin-bottom:25px;
                
            }

            #talent-desc-title-request-edit{
                display: flex;
                justify-content: space-between;
            }


            #valorac-precio-request-edit{
                display:flex;
                flex-direction: row;
                // align-items: center;
                margin-top:25px;
                justify-content: space-evenly;
                // background-color: tomato;

                #precio-request-edit{
                    font-size: 25px;
                    font-weight: 700;
                    margin:0;
                }
            }

            #request-fav-div{
                display:flex;
                justify-content:center;
                margin-top:25px;
                margin-bottom:20px;

                #request-button{
                    margin-right:10px;
                    background-color:$color-yellow;
                    height:40px;
                    width:200px;
                    border-radius:20px;
                    border-style: none;
                    font-family: $text-font;
                    font-size: 14px;
                }

                #fav-button{
                    background-color:$color-middle;
                    height:40px;
                    width:40px;
                    border-radius: 20px;
                    border-style: solid;
                    color: $color-light;
                }
            }
        }
    }

    #talent-reviews-request-edit{
        display:flex;
        flex-direction: column;
        margin:30px auto;
        width:80%;
        text-align:left;
        font-size:14px;
        color:$color-middle-dark;

        #talent-reviews-title-request-edit{
            font-size:16px;
            border-bottom-style: solid;
            border-bottom-width: 0.5px;
            border-bottom-color: $color-middle-dark;
        }
        
        .talent-review-request-edit{
            margin:5px;
            .star{
                width:15px;
                height: auto;
            }
        }
    }

}

.review-stars{

    display:flex;
    align-items: center;

    .star{
        width:20px;
        height: auto;
    }
}


// __________________________________________added

#request-intervals-div{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;
}

#add-request-button-container{
    display:flex;
    width:100%;
    justify-content: center;

    #add-request-button{
        color:$color-middle;
        border-style: solid;
        width:45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius:30px;
        border-width: 2px;
        margin-bottom:25px;
        
        #add-request-button-icon{
            width:25px;
            height: auto;
        }
    }
}

#send-request-button-div{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    margin-top:20px;
    margin-bottom:30px;
    
    #send-request-button{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: $color-yellow;
        width:60%;
        height:35px;
        border-radius: 30px;
        box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);
    }

    #send-request-button-disabled{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        color:#adadad;
        width:60%;
        height:35px;
        border-radius: 30px;
        box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);
    }
}







@media (min-width:800px){  

    #talent-page-request-edit{


        #talent-name-request-edit{
            width:60%;
            align-self: center;

            #talent-name-h1-request-edit{

                padding:0;

            }
            
    
        }

        #talent-text-request-edit{
            flex-direction:row;
            justify-content: flex-start;
            width:60%;
            margin:0 auto;

            #talent-info-request-edit{

                width:100%;
                #teacher-name{
                    display:none;
                }

                #valorac-precio-request-edit{
                    width:100%;

                    #precio-request-edit{
                        margin-left:auto;
                        font-size:40px;
                    }
                }
            }

            #talent-teacher-request-edit{
                width:320px;
            }
        }
    }

    #send-request-button-div{
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        margin-top:20px;
        margin-bottom:30px;
        
        #send-request-button{
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: $color-yellow;
            width:30%;
            height:35px;
            border-radius: 30px;
            box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);
        }
    
        #send-request-button-disabled{
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: #eaeaea;
            color:#adadad;
            width:20%;
            height:35px;
            border-radius: 30px;
            box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.35);
        }
    }

    #request-intervals-div{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    
        padding-top: 25px;
    }
} 

